.music {
    width: 75%;
    padding-inline: 1rem;
    margin-inline: auto;
}

.measures {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 1.5rem;
}

.measure_container {
    width: 25%;
}