.base {
    position: relative;
    border-radius: 100%;
}

.base.empty {
    width: 75%;
    padding-top: 75%;
    outline: 4px solid black;
    margin: 0;
}

.base.empty .staff {
    right: -20%;
}

.base.fill {
    /* width: var(--width); */
    width: 100%;
    /* padding-top: var(--width); */
    padding-top: 100%;
    background-color: black;
}

.staff {
    position: absolute;
    /* width: calc(var(--width)/4);
    height: calc(var(--width) * 1.75); */
    width: 25%;
    height: 175%;
    background-color: black;
    bottom: 50%;
    right: 0;
}